@{
    ViewData["Title"] = "CTM - Admin panel";
}

<h1>Admin panel</h1>

<button onclick="window.location.href='/Admin/Qualifications'">Qualifications</button>
<button onclick="window.location.href='/Admin/Languages'">Languages</button>
<a href="/Home/LoggedIn">Exit admin panel</a>
