@model dynamic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Admin panel - Languages";
}

<h1>Languages</h1>
<table style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var language in Model)
        {
            <tr>
                <td>
                    @language.Id
                </td>
                <td>
                    @language.name
                </td>
                <td>
                    <a>Редактировать</a>
                    <a href="/Admin/RemoveLanguage/@language.Id">Удалить</a>
                </td>
            </tr>
        }


    </tbody>
</table>

<a href="/Admin/LanguageData">Add new Language</a>

<!--<button>Add new language</button>-->
<a href="/Admin/Index">Go back</a>

