@model dynamic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Admin panel - Qualifications";
}

<h1>Qualifications</h1>
<table style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var qualification in Model)
        {
            <tr>
                <td>
                    @qualification.Id
                </td>
                <td>
                    @qualification.name
                </td>
                <td>
                    @qualification.description
                </td>
                <td>
                    <a href="/Admin/Qualifications">Редактировать</a>
                    <a href="/Admin/RemoveQualification/@qualification.Id">Удалить</a>



                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/QualificationData">Add new Qualification</a>

<a href="/Admin/Index">Go back</a>

