@{
    ViewData["Title"] = "Admin panel - Qualifications";
}

<h1>Qualifications</h1>
<table style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var qualification in Model)
            {
        <tr>
            <td>
                @qualification.Id
            </td>
            <td>
                @qualification.name
            </td>
            <td>
                @qualification.description
            </td>
            <td>
                <a>Edit</a> <a>Delete</a>
            </td>
        </tr>
            }
    </tbody>
</table>
<button>Add new qualification</button>
<a href="/Admin/Index">Go back</a>

