@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CTM - About";
}
<p>This is the about us text</p>
<a href="/" class="go-back">Go back</a>



<style>
    /* Стиль для ссылки "Go back" */
    body {
        font-family: Arial, sans-serif;
    }
   

    /* Стиль для абзаца с текстом "This is the about us text" */
    p {
        font-size: 18px;
        color: #333;
        margin-bottom: 20px;


    }

    .go-back {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #7f00ff;
    }

    .go-back:hover {
        text-decoration: none;
    }
</style>