@model CTM.Models.User

@{
    ViewData["Title"] = "CTM - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    label.control-label {
        opacity: 1.6;
    }

    .password-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="eMail" class="form-control" placeholder="Почта" />
                    <span asp-validation-for="eMail" class="text-danger"></span>
                </div>
                <div class="form-group password-group">
                    <input type="password" asp-for="password" class="form-control" placeholder="Пароль" />
                    <span class="password-icon" onclick="showPassword()"><i class="fa fa-eye"></i></span>
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Войти" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function showPassword() {
        var passwordInput = document.querySelector('.password-group input[type="password"]');
        var passwordIcon = document.querySelector('.password-group .password-icon');

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordIcon.innerHTML = '<i class="fa fa-eye-slash"></i>';
        } else {
            passwordInput.type = "password";
            passwordIcon.innerHTML = '<i class="fa fa-eye"></i>';
        }
    }
</script>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

<!--<main>

    <form action="/login" method="POST">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Войти</button>
    </form>
</main>-->
