@{
    ViewData["Title"] = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="minimalist-dlya-privet">Авторизация пройдена успешно!</h1>
@if (Model != null)
{
    <h4 class="minimalist-dlya-privet-text">Здравствуйте, @Model.ToString()</h4>
}
