@{
    ViewData["Title"] = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="minimalist-dlya-privet">Authorization completed successfully</h1>
@if (Model != null)
{
    <h4 class="minimalist-dlya-privet-text">Hello @Model.ToString()</h4>
}
