@{
    ViewData["Title"] = Model.Name;
}
<h1>@Model.Name</h1>

<table id="profile-table">
    <tr>
        <th>Id:</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Квалификация:</th>
        <td>
            @foreach (var qualification in Model.Qualifications)
            {
                <div>@qualification</div>
            }
        </td>
    </tr>
    <tr>
        <th>Знания языков:</th>
        <td>@Model.Languages</td>
    </tr>
</table>

<button id="vihod" onclick="window.location.href='/Users/LogOut'">Выход</button>

<style>
    #vihod {
        background: linear-gradient(to right, #7f00ff, #e100ff);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
    }
</style>