@model CTM.Models.UserRegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Регистрация</h1></center>


<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6  offset-md-1" style="margin-right: 10px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user.name" class="control-label">ФИО</label>
                <input asp-for="user.name" class="form-control" />
                <span asp-validation-for="user.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.eMail" class="control-label">E-mail</label>
                <input asp-for="user.eMail" class="form-control" />
                <span asp-validation-for="user.eMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.password" class="control-label">Пароль</label>
                <<input asp-for="user.password" class="form-control" />
                <span asp-validation-for="user.password" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 offset-md-7" style="margin-right: 10px; margin-top: -260px;">
            <div class="form-group">
                <label asp-for="chiefId" class="control-label">Начальник</label>
                <select asp-for="chiefId" asp-items="ViewBag.Users">
                </select>
                <span asp-validation-for="chiefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qualificationsId" class="control-label">Квалификация</label>
                <select asp-for="qualificationsId" asp-items="ViewBag.Qualifications" multiple>
                </select>
                <span asp-validation-for="qualificationsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="languagesId" class="control-label">Знание языков</label>
                <select asp-for="languagesId" asp-items="ViewBag.Languages" multiple>
                </select>
                <span asp-validation-for="languagesId" class="text-danger"></span>
            </div>
            
        </div>
    </div>
</div>
<div class="form-group text-center">
    <input type="submit" value="Создать" class="btn btn-primary mb-1" style="margin-left: -4px; margin-top: 70px;" />
</div>







@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
